@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;

    background-color: #1f1f1f;

    font-family: 'Source Code Pro', monospace;
    color: rgba(255, 255, 255, 0.87);
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1em;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.5em;
}

input {
    color: rgba(255, 255, 255, 0.87);
    font-size: 1em;
    background-color: #1f1f1f;
    width: 80%;
    text-transform: uppercase;
}

ol {
    list-style: none;
}
